html {
    background: rgb(22,51,75);
    background: linear-gradient(183deg, rgba(22,51,75,1) 0%, rgba(51,115,168,1) 100%);
    background-attachment: fixed;
}
span,p,h1 {
    color: white;
}
* {
    font-family: "Poppins";
    font-size: 35px;
    text-align: center;
}
::-webkit-scrollbar {
    display: none;
}
.ht {
    top: 2px;
    position: relative;
}
.cards {
    margin-top: 25px;
    width: 100%;
    max-width: 550px;
    left: 50%;
    transform: translateX(-50%);
    height: 200px;
    position:fixed;
    background-color: rgb(22, 41, 75);
    border-radius: 2px;
    display: flex;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    overflow-x: scroll;
    
}
.card {
    background-color: rgb(255, 141, 88);
    min-width: 340px;
    position: relative;
    height: calc(100% - 10px);
    border-radius: 10px;
    margin-left: 12px;
    margin-right: 4px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}
.card span {
    font-size: 20px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
}
.card .chip {
    height: 40px;
    margin-left: 0px;
    top: -15px;
    position: relative;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

mark {
    font-weight: bold;
    font-size: 17.5px;
    background-color: transparent;
    color: white;
}
.card p {
    font-size: 17.5px;
    position: absolute;
    top: 100px;
    padding-left: 10px;
    text-align: left;
}
.card img {
    width: 70px;
    height: 50px;
    object-fit: cover;
    margin-top: 10px;
    margin-right: -20px;
}
.block {
    background-color: rgb(26, 26, 26);
    height: 20px;
    width: 98%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    border-radius: 7.5px;
    bottom: 10px;
}
.b {
    background-color: rgb(150, 150, 255);
}
.g {
    background-color: rgb(195, 224, 90);
}
.actions {
    width: auto;
    min-width: 50px;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    top: 300px;
    min-height: 50px;
    background-color: rgb(22, 41, 75);
    border-radius: 10px;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

}
.actions .btn img {
    width: 40px;
    top: 5px;
    opacity: 0.75;
    filter: invert(100%);
    position: relative;
}
.btn {
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.transactions {
    background-color: rgb(22, 41, 75);
    width: 100%;
    position: absolute;
    max-height: 465px;
    min-height: 200px;
    border-radius: 40px 40px 0px 0px;
    left:50%;
    transform: translateX(-50%);
    overflow-y: scroll;
    max-width: 400px;
    bottom:0;
}
.drag {
    position: absolute;
    width: 60px;
    height: 5px;
    border-radius: 10px;
    background-color: white;
    opacity: 0.5;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
}
.transactionholder {
    border-radius: 25px 25px 0px 0px;
    width: 100%;
    bottom: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.transaction {
    width: calc(100% - 50px);
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    gap:10px;
    height: 70px;
    align-items: center;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    border-radius: 10px;
}
.transaction img {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    width: 45px;
    margin-left: 9px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
}
.transaction span {
    font-size: 20px;
}
.transaction .n {
 font-size: 23px;
 opacity: 0.75;
}
.transaction .p {
    opacity: 1;
    float: right;
    width: 100%;
    padding-right: 10px;
    text-align: right;
    font-weight: bold;
    color: rgb(42, 177, 42);
}
.min {
    color: rgb(177, 42, 42) !important;
}
@media screen (max-width: 700px;) {
    
}